@import url('https://fonts.googleapis.com/css2?family=VT323&family=Silkscreen&display=swap');

:root {
  /* Font Family */
  --ff-h1: 'Silkscreen', sans-serif;
  --ff-display: 'VT323', monospace;

  /* Font Size */
  --fs-h1: 38px;
  --fs-display: 24px;

  /* Font Weight */
  --fw-h1: bold;
  --fw-display: 600;

  /* Backgrounds colors */
  --bg-drummachine: #e0e4e7;
  --bg-display-wrapper: #0e0f0a;
  --bg-display: #314076;
  --bg-pad-wrapper: #9ba2aa;
  --bg-pad: #939393;
  --bg-pad-active: #6d6c6c;

  /* Texy colors */
  --c-h1: #d7172f;
  --c-display: #54ccc2;

  /* Shadows */
  --shadow: rgba(0, 0, 0, 0.26);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

#drum-machine {
  background: var(--bg-drummachine);
  height: max-content;
}

h1 {
  font-family: var(--ff-h1);
  font-size: var(--fs-h1);
  font-weight: var(--fw-h1);
  color: var(--c-h1);
}

.display-wrapper {
  background: var(--bg-display-wrapper);
}

#display {
  width: 160px;
  height: 60px;
  margin: 0px 10px;
  background: var(--bg-display);
  color: var(--c-display);
  font-family: var(--ff-display);
  font-size: var(--fs-display);
  font-weight: var(--fw-display);
}

.buttons-wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-gap: 10px;
  background: var(--bg-pad-wrapper);
}

.drum-pad {
  width: 80px;
  height: 80px;
  background-color: var(--bg-pad);
  box-shadow: var(--shadow) 3px 3px 5px;
}

.drum-pad:active {
  background-color: var(--bg-pad-active);
}
